<div class="bg-off-white pv4">
    <div class="flex-ns mhn2-ns mb3">
      {{ range .valueprops }}
      <div class="ph2-ns w-50-ns">
        <img src="{{.image}}" alt="" class="center db mb3" style="width: 240px">
        <div class="feature-icon">
            <i class="fas {{ .icon }}"></i>
        </div>
        <p>{{.title}}</p>
        <p>{{.subtitle}}</p>
      </div>
      {{ end }}
    </div>

    <div class="tc">
      <a href="/products" class="btn raise">See all products</a>
    </div>
</div>
  